<!DOCTYPE HTML>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" />
    <meta name="author" content="Thông tin tuyển sinh" />

    <script src="js/axios.min.js"></script>
    <script src="js/vue.js"></script>



    <link rel="stylesheet" href="css/style.css" />

    <title>Thông báo trúng tuyển</title>
</head>

<body>
    <div id="app">
        <div v-if="!thisinh">
            <div class="main_pagelogin">

                <div class="header_lg">
                    <img src="/img/logo-tuyensinh20201.png"  alt="Tuyển sinh"/>
                    <img class="img_r" src="/img/logo-tuyensinh20202.png"  alt="Tuyển sinh"/>
                </div>
                <div class="content_lg">
                    <div class="main_login">
                        <div class="login_on">
                            <img src="/img/find.png"  alt="Tìm kiếm"/>
                        </div>
                        <div class="form_lg">
                            <div v-if="error">
                                {{error}}
                            </div>
                            <label for="cmnd">Nhập Số CMND:</label>
                            <input v-model="form.cmnd" type="text" value="" id="cmnd">
                            <button v-on:click="getInformation">Đăng nhập</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="ft">
                <div class="fotter_login">
                    <div class="col_ft">
                        <div class="link_ts">
                            <a href="http://dut.udn.vn/TuyenSinh2020" target="_blank">THÔNG TIN TUYỂN SINH</a>
                            <a href="http://dut.udn.vn:8082/public/Help.aspx" target="_blank">HƯỚNG DẪN NHẬP HỌC</a>
                        </div>
                    </div>
                    <div class="col_ft">
                        <div class="info_ts">
                            <h4>Trường Đại học Bách khoa, Đại học Đà Nẵng</h4>
                            <p>Địa chỉ: 54 Nguyễn Lương Bằng, Đà Nẵng</p>
                            <p>Điện thoại: 02363.733.591, Email: tuyensinh2020@dut.udn.vn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="thisinh" id="main_page" class="main_page">
            <div class="header">
                <img src="/img/logo_bk.png"  alt="logo"/>
                <h2>Đại học Đà Nẵng </h2>
                <h2>Trường Đại học Bách khoa</h2>
                <h1>Thông báo</h1>
            </div>
            <div class="info">
                <p><b>Thí sinh:</b>{{thisinh.hotenTs}}</p>
                <p><b>Số CMND:</b>{{thisinh.cmnd}}</p>
                <p><b>Sinh ngày:</b>{{thisinh.ngaySinh}}</p>
                <p><b>Trúng tuyển ngành:</b>{{thisinh.tenNganh}}</p>
                <p><b>Mã ngành:</b>{{thisinh.maNganh}}</p>
                <h4>Nhà trường mời Anh/Chị làm thủ tục nhập học, gồm 3 bước thực hiện như sau:</h4>
            </div>

            <div class="sec1">               
                <h3>Bước 1: Nộp Giấy chứng nhận tốt nghiệp THPT</h3>

                <template v-if="!thisinh.xacNhanGcn">
                    <p>Anh/Chị cần thực hiện: a/ Tick xác nhận vào lời cam đoan; b/ Nhập địa chỉ để nhận Giấy báo trúng tuyển; c/ Kích vào nút [Choose File] và làm theo yêu cầu trên điện thoại hoặc máy tính để chọn ảnh Giấy chứng nhận tốt nghiệp THPT (hoặc Bằng tốt nghiệp THPT).  Sau đó, kích nút [Lưu xác nhận nhập học].</p>
                    <div class="sec1_1">
                        <input type="checkbox" id="camdoan" name="camdoan" checked>
                        <label for="camdoan"> Tôi cam đoan tôi đã tốt nghiệp THPT. Nếu gian dối, tôi sẽ phải chịu hoàn toàn trách nhiệm.</label>
                    </div>
                    <div class="sec1_2">
                        <label>Địa chỉ nhận Giấy báo trúng tuyển:</label>
                        <input v-model="form.DiaChi" type="text" id="diachi" value="">
                    </div>
                    <div class="sec1_2">

                        <div>
                            <label>Nộp Giấy chứng nhận tốt nghiệp:</label>
                        </div>
                        

                        <div v-if="thisinh.fileGcn">
                            <br/>
                            <a :href="getDownloadUrl(thisinh.fileGcn)">
                                <img :src="getDownloadUrl(thisinh.fileGcn)" alt="Ảnh trước đây" class="uploaded">
                            </a>
                            <br/>
                        </div>
                        <div>
                            <input style="height:150px" type="file" accept="image/*" capture="camera" id="cntn" @change="getImage($event)">
                            <button style="height:150px align-content:center" v-on:click="submit">Lưu xác nhận nhập học</button>
                        </div>
                        
                    </div>
                    <div v-if="thisinh.fileGcn" class="sec1_3">
                        <p>Anh/Chị chờ khoảng 15 phút (trong giờ hành chính) để Nhà trường xác nhận đã nhận được Giấy chứng nhận/ Bằng tốt nghiệp.</p>
                    </div>
                    <div v-if="thisinh.note1" class="info-panel">
                        {{thisinh.note1}}
                    </div>
                </template>
                <div v-else class="info-panel">
                    Anh chị đã hoàn tất bước này
                </div>
            </div>

            <template v-if="!!thisinh.xacNhanGcn">
                <div class="sec2">
                    <h3>Bước 2, 3: Nộp Bộ hồ sơ nhập học và nộp tiền</h3>
                    <h4>Số tiền cần nộp (đồng): {{thisinh.soTien}}</h4>
                    <p>
                        Anh/Chị cần gửi Bộ hồ sơ nhập học về Trường Đại học Bách khoa trước 17 giờ ngày 05/9/2020 (tính theo dấu bưu điện) và nộp số tiền nói trên vào tài khoản của Trường Đại học Bách khoa trước 17h ngày 08/9/2020. Anh/Chị <a href="https://drive.google.com/file/d/1aYHOA6G6inefAK1ifUmOkuyy45rnFvfY/view" target="_blank">click vào đây</a> để xem hướng dẫn chi tiết thông tin gửi Bộ hồ sơ và nộp tiền.
                    </p>
                    <p class="as">Trân trọng cảm ơn Anh/Chị.</p>
                </div>
                <div class="sec3">
                    <h3>TRẠNG THÁI TRƯỜNG NHẬN HỒ SƠ VÀ TIỀN:</h3>
                    <div class="table_tinhtrang">
                        <table>
                            <tr>
                                <th class="th1">GCN/BTN</th>
                                <th class="th2">Bộ hồ sơ</th>
                                <th class="th3">Tiền</th>
                                <th class="th4">Địa chỉ nhận giấy báo</th>
                                <th class="th5">Ghi chú</th>
                            </tr>
                            <tr>
                                <td><img :src="getStatusImage(thisinh.xacNhanGcn)" alt="GCN/BTN"/></td>
                                <td><img :src="getStatusImage(thisinh.xacNhanBoHs)" alt="Bộ hồ sơ"/></td>
                                <td><img :src="getStatusImage(thisinh.xacNhanTien)" alt="Tiền"/></td>

                                <td>{{thisinh.diaChi}}</td>
                                <td>{{thisinh.note1}}</td>
                            </tr>
                        </table>
                    </div>
                    <div v-if="!!thisinh.xacNhanTien" class="sec3_2">
                        <h3>Chúc mừng Anh/Chị đã hoàn thành thủ tục nhập học. Anh/Chị theo dõi thông báo trên Website chính của Trường để biết việc tập trung đến Trường để học tập.</h3>
                        <br/>
                        <a :href="getDocumentDownloadUrl()">Tải giấy báo nhập học tại đây.</a>
                    </div>
                </div>
            </template>

        </div>
        <div v-if="thisinh" class="img_wtm">
            <img src="/img/wtm.jpg"  alt="ok"/>
        </div>
    </div>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
